
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.ldf
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.MDF
*.mdf
*.ldb
[Bb]in
[Aa]pp-[Dd]ata
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
MvcApplication1/MvcApplication1.csproj